/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Encode+Sans+Expanded:wght@300&display=swap");
:root {
  --main-color: #0aad0a;
  --light-color: #f0f3f2;
  --shadow: rgba(145, 158, 171, 0.2) 0px 2px 4px -1px,
    rgba(145, 158, 171, 0.14) 0px 4px 5px 0px,
    rgba(145, 158, 171, 0.12) 0px 1px 10px 0px;
  --font-family: "Encode Sans Expanded", sans-serif;
  --rating-color: #ffc908;
}

body {
  font-family: var(--font-family) !important;
  background-image: url("../src/assets/images/light-patten.svg");
}
.footer {
  margin-top: auto;
}
.app {
  min-height: 100vh !important;
  display: flex;
  flex-direction: column;
}

.rating-color {
  color: var(--rating-color);
}
.cursor-pointer {
  cursor: pointer;
}
a,
a:hover {
  color: black;
  text-decoration: none;
}
.product {
  transition: 0.5s all;
}
.product:hover {
  box-shadow: var(--shadow);
  transform: scale(1.1);
}

.product:hover .btn {
  opacity: 1;
  transform: translateY(0%);
}
.font-sm {
  font-size: 14px;
}
.text-main {
  color: var(--main-color);
}
.bg-main {
  background-color: var(--main-color) !important;
}
.bg-main-light {
  background-color: var(--light-color) !important;
}
* {
  text-decoration: none !important;
  list-style: none !important;
}

.main-slider-img {
  height: 300px !important;
  width: 100% !important;
}

/*======================
    404 page
=======================*/

.page_404 {
  padding: 40px 0;
  background: #fff;
  font-family: "Arvo", serif;
}

.page_404 img {
  width: 100%;
}

.four_zero_four_bg {
  background-image: url(https://cdn.dribbble.com/users/285475/screenshots/2083086/dribbble_1.gif);
  height: 400px;
  background-position: center;
}

.four_zero_four_bg h1 {
  font-size: 80px;
}

.four_zero_four_bg h3 {
  font-size: 80px;
}

.link_404 {
  color: #fff !important;
  padding: 10px 20px;
  background: #39ac31;
  margin: 20px 0;
  display: inline-block;
}
.contant_box_404 {
  margin-top: -50px;
}
nav {
  position: sticky !important;
  z-index: 999 !important;
  top: 0;
  right: 0;
  left: 0;
}

@media only screen and (max-width: 790px) {
  .categ-slider {
    display: none !important;
  }
}

.numOfCartItems {
  position: relative;
  background-color: #0aad0a;
  top: -20px;
  right: 9%;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px;
  font-weight: 600 !important;
  z-index: -1;
  transform: rotate(-30deg);
}
@media only screen and (max-width: 576px) {
  .numOfCartItems {
    top: -60px;
    right: 0%;
    width: 20px !important;
  }
  .cart-icon{
    margin: 10px ;
  }
}
input:focus{
 
  border: none !important;
  box-shadow: 0px 0px 15px rgba(80, 83, 85, 0.75) !important;


}
.brand{
  transition: 0.5s all ;
}
.brand:hover{
  box-shadow: 0px 0px 15px rgba(80, 83, 85, 0.75) !important;
 
}


